<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
</head>
<body>

    <h1>Hello, My name is Munguntuul</h1>
    <p>I was born in Ulaanbaatar, Mongolia.I previously founded and managed a small printing and publishing business. I was responsible for the overall operations, including client communication, order management, design coordination, and production scheduling. I worked closely with customers to understand their needs and ensured high-quality printed materials such as books, brochures, posters, and marketing content. In addition, I handled budgeting, pricing, and basic accounting, as well as supervising daily workflow. Running this business helped me develop strong organizational, leadership, and problem-solving skills, while also teaching me the importance of responsibility, deadlines, and customer satisfaction in a professional environment.
    <p>I was raised by my grandparents from birth until the age of six. During this time, they provided me with a stable, loving, and supportive environment. Living with them taught me important values such as respect, patience, and responsibility. My grandparents played a major role in shaping my character and early education, and they supported me both emotionally and morally. This experience gave me a strong sense of family, gratitude, and appreciation for hard work and traditional values.
    
        <ol type="A">
            <li>Color is purple</li>
            <li>Cole Sprouse</li>
            <li>Soccer</li>
        </ol>

        
        
        <h2>Favorite Quite</h2>
            <blockquote>
                "You can do anything you want"
            </blockquote>

    
    I believe <strong>hard work</strong> and <em>consistency</em> lead to your goal.
    learning HTML is fun &AMP; useful, and practice &lt; perfection.
    

    


</body>
</html>

